<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit this Listing</h3>
    <form  method="POST" action="/listings/<%= listing.id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required >
            <div class="valid-feedback">Title Looks good!</div>
        </div>

       <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Plese Enter A Short Note</div>
       </div>

       <div class="mb-3">
         <i>Orignal Image </i> <br>
         <img src="<%= orignalImageUrl %>" />
       </div>

       <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input type="file" name="listing[image]"class="form-control" >
       </div>
       
     <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" value="<%= listing.price %>" name="listing[price]" class="form-control" required>
          <div class="invalid-feedback">Plese Enter A Valid Price</div>
     </div>
       
     <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]"value="<%= listing.country %>"type="text" class="form-control" required>
          <div class="invalid-feedback">Plese Enter A Country Name</div>
     </div>
       <div class="mb-3">
           <label for="location" class="form-label">Location</label>
           <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
           <div class="invalid-feedback">Plese Enter A Valid Location</div>
       </div>
       
       <button class="btn btn-dark edit-btn">Edit</button><br>
    </form>
</div>
</div>


</body>
